body {
  background-color: #46495C;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  background-color: #FFFFFF;
  width: 288px;
  height: 384px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.form__game-field {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 256px;
  height: auto;
  padding: 0;
}

.cell {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.cell:hover {
  border: 2px solid #00000014;
  background-color: #FFFFFF;
}

.filled-cell {
  background-color: #FFFFFF;
  border: 2px solid #00000014;
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.winning-cell {
  background-color: #FFFFFF;
  border: 2px solid #FFD900;
  width: 80px;
  height: 80px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.form__game-button {
  font-family: Montserrat Alternates;
  width: 256px;
  height: 80px;
  gap: 0;
  border-radius: 16px;
  border: 2px solid #000000;
  color: #000000;
  background-color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}

.form__game-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.form__game-button:active {
  background-color: #000000;
  color: #FFFFFF;
}

.form__reset-button {
  font-family: Montserrat Alternates;
  width: 256px;
  height: 80px;
  gap: 0;
  border-radius: 16px;
  border: 2px solid #000000;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
}
