@import "global.css";
@import "normalize.css";
@import "form.css";

@font-face {
font-family: "Montserrat Alternates";
src: url("../fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
